h1{
    text-align: left;
}
h2{
    text-align: left;
}
h3{
    text-align: left;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('{{ url_for('static', filename='ashtonmartincar.jpg') }}');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.088);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav a:hover {
    color: #0008ff4f;
}

.main-content {
    padding: 100px 20px;
}

.innovative-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.489);
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.innovative-text {
    max-width: 1000px;
    text-align: left;
    margin-right: 50px;
    color: #333;
}

.innovative-image {
    max-width: 400px;
    border-radius: 10px;
}


.contact-section {
    background-color: #333;
    color: #fff;
    padding: 2px 20px;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: rgb(60, 138, 164);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.contact-form button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 208, 255);
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #fff;
    color: #333;
}